<div align="center" class="box">
  <h1 class="display-3">Warehouse Fulfillment Center</h1>
  <p class="lead">Welcome!</p>
  <p class="lead">
    <a href="/warehouses/document" class="btn btn-lg btn-success">Learn more</a>
    <a href="/users/index" class="btn btn-lg btn-success">Get API key</a>
  </p>
</div>
